@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Home
5. Intro
6. Reservations
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Great+Vibes|PT+Sans+Narrow:400,700');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	line-height: 1.875;
	font-weight: 400;
	color: #636363;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(196, 171, 159, 0.5);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'PT Sans Narrow', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #232323;
}

section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}

.super_container
{
	width: 100%;
	overflow: hidden;
}

.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page_subtitle
{
	font-family: 'Edward', sans-serif;
	color: #b49383;
	line-height: 0.75;
}

/*********************************
3. Header
*********************************/

.header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.titulo {

	top: 50px;
	font-size: 36px;
	line-height: 0.75;
	color: #FFFFFF;
}

.subtitulo {
	
	top:50px;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.680em;
	line-height: 0.75;
	margin-top: 12px;	
}


/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
	height: 888px;
}
.home_container
{
	position: absolute;
	top: 43%;
	left: 0;
	width: 100%;
}
.home_subtitle
{
	font-size: 60px;
	font-weight: bold;
	line-height: 0.75;
}
.home_title
{
	margin-top: 10px;
}
.home_title h1
{
	font-size: 72px;
	color: #FFFFFF;
}

.botao-login {

	float: right;
	margin-top: 50px;
	margin-right: 50px;
	width: 10%;
	font-family: Verdana;
	font-weight: bold;
	font-size: 15px;
	color: #FFFFFF;
}

.botao-visualizar {

	float: right;
	margin-top: 50px;
	margin-right: 50px;
	width: 10%;
	font-family: Verdana;
	font-weight: bold;
	font-size: 15px;
	color: #FFFFFF;
}

.botao-logout {

	float: right;
	margin-top: 50px;
	margin-right: 50px;
	width: 10%;
	font-family: Verdana;
	font-weight: bold;
	font-size: 15px;
	color: #FFFFFF;
}

/*********************************
5. Intro
*********************************/

.intro
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 102px;
	padding-bottom: 102px;
}
.intro_image
{
	width: 100%;
}
.intro_image img
{
	max-width: 100%;
}

/*********************************
6. Reservations
*********************************/

.reservations
{
	width: 100%;
	padding-top: 101px;
	padding-bottom: 75px;
}
.res_stars
{
	font-size: 36px;
	font-weight: normal;
}

.res_form_container
{
	margin-top: 72px;
}


/*********************************
7. Footer
*********************************/

.footer
{
	width: 100%;
	background: #232323;
	padding-top: 70px;
	padding-bottom: 60px;
}
.footer_logo_title
{
	font-size: 57px;
	line-height: 0.75;
	color: #FFFFFF;
}
.footer_logo_subtitle
{
	font-size: 19px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.680em;
	line-height: 0.75;
	margin-top: 17px;
}
.copyright
{
	font-size: 13px;
	color: rgba(255,255,255,0.41);
	line-height: 0.75;
	margin-top: 22px;
}
.footer_about p
{
	color: #a5a4a4;
}
.footer_contact ul li:not(:last-child)
{
	margin-bottom: 15px;
}
.footer_contact_title
{
	width: 61px;
	height: 21px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 21px;
	background: #c49a8f;
	padding-left: 8px;
	margin-right: 11px;
}
.footer_contact_text
{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 21px;
}
.footer_contact ul li div:last-child
{
	white-space: nowrap;
}